.navbar {
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #032741;
  width: 100%;
  top: 0;
  padding: 0 10vw;
  transition: 3.5s height;
  font-family: Gibson-Regular;

}

.navbar .navigationMain {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  padding: 2rem 30px 0 0;
  width: calc(100% - 30vw);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 1025px) {
  .navbar .navigationMain {
    display: none;
  }
}

.navbar .navigationMain .button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: 0.5s color;
}

.navbar .navigationMain .burgerMenuContainer {
  content: "";
  width: 55px;
  height: 25px;
  position: relative;
  right: 0;
  cursor: pointer;
}

.navbar .navigationMain .burgerMenuTrigger {
  content: "";
  width: 55px;
  height: 25px;
  position: relative;
  right: 0;
  cursor: pointer;
  z-index: 100;
}

.navbar .navigationMain .burgerMenu {
  content: "";
  background-color: white;
  position: absolute;
  width: 25px;
  height: 2px;
  z-index: 0;
  top: -100%;
  transition: 0.25s transform ease-in-out, 0.5s background-color ease-in-out;
}

.navbar .navigationMain .burgerMenu::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 25px;
  height: 2px;
  transform: translateY(10px);
  z-index: 0;
  transition: 0.25s transform ease-in-out, 0.5s background-color ease-in-out;
}

.navbar .navigationMain .burgerMenu::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 25px;
  height: 2px;
  transform: translateY(-10px);
  z-index: 0;
  transition: 0.25s width ease-in-out, 0.5s background-color ease-in-out;
}

.navbar .navigationMain .burgerMenuTrigger:hover .burgerMenu {
  width: 35px;
}

.navbar .contentBurger {
  position: absolute;
  top: 5vh;
  display: none; 
  visibility: hidden; 
  z-index: -1; 
}

.navbar.active .contentBurger {
  display: block; 
  visibility: visible; 
  z-index: 100;
}

.navbar .contentBurger ul {
  list-style: none;
}

.navbar .contentBurger ul li {
  padding: 2rem 1rem;
}

.navbar .contentBurger ul li a {
  font-size: 2rem;
  color: white;
  transition: 0.25s color;
}

.navbar .contentBurger ul li a:hover {
  color:  #D1D6DA;
  transition: 0.25s color;
}

@media (min-width: 1200px) {
  .navbar .contentBurger ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar .contentBurger ul li a {
    font-size: 2rem;
  }
}

.navbar.active {
  background-color: #032741;
  transition: 0.75s height;
  height: 100vh;
}

.navbar.active .navigationMain .button {
  color: white;
  transition: 0.5s color;
}

.navbar.active .navigationMain .burgerMenuContainer .burgerMenu {
  width: 0;
  background-color: white;
  transition: 0.25s width ease-in-out, 0.25 background-color ease-in-out;
}

.navbar.active .navigationMain .burgerMenuContainer .burgerMenu::after {
  transform: translateY(0px) rotate(135deg);
  background-color: white;
  transition: 0.25s transform ease-in-out, 0.25 background-color ease-in-out;
}

.navbar.active .navigationMain .burgerMenuContainer .burgerMenu::before {
  transform: translateY(0px) rotate(-135deg);
  background-color: white;
  transition: 0.25s transform ease-in-out, 0.25 background-color ease-in-out;
}

.navbar.active .navigationMain .burgerMenuTrigger:hover .burgerMenu {
  width: 0px;
}

.logoName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
  color: black;
  transition: 0.5s color;
}

.logo {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
