.wrapper-modal {
  padding: 16px 16px 80px 16px;
  margin: auto;
}

@media (min-width: 768px) {
  .wrapper-modal {
    padding: 40px 16px 80px 16px;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal {
    padding: 10vh 16px;
  }
}

.wrapper-modal .modal {
  border: 2px solid #0EB1AF;
  min-width: 270px;
  background: #032741; /* Замените на реальный цвет */
  padding: 44px 8px 24px 8px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #F9B200; /* Замените на реальный цвет */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper-modal .modal {
    padding: 10%;
    min-width: 500px;
  }
}

@media (min-width: 1200px) {
  .wrapper .modal {
    min-width: 700px;
  }
}

.wrapper-modal .modal .modal {
  padding: 48px 32px 32px 32px;
}

@media (min-width: 768px) {
  .wrapper-modal .modal .modal {
    padding: 48px 32px 32px 32px;
  }
}

.wrapper-modal .modal .closeButton {
  background: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 768px) {
  .wrapper-modal .modal .closeButton {
    top: 30px;
    right: 18px;
  }
}

.wrapper-modal .title {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: #F2F3F4; 
}

@media (min-width: 768px) {
  .wrapper-modal .title {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal .title {
    font-size: 40px;
  }
}
