.roleSection {
  background: #f5f5f5; /* Замените на вашу переменную */
  padding: 32px 0;
}
.container {
  max-width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 40px 0px 40px;

}

@media (min-width: 420px) {
  .roleSection{
  padding: 48px 0;
  }
  .container{
      gap: 32px;
    }
  }
  .title{
    font-size: 32px;

  }


@media (min-width: 600px) {
 
}
@media (min-width: 768px) {
  .roleSection{
  padding: 72px 0;
  }
  .container{
      gap: 56px;
    }
  }
  .title{
    font-size: 40px;
  }
